[includeIf "gitdir:~/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
[maintenance]
    repo = /Users/florian/work/v3
[diff]
    external = difft
[alias]
	st = status
	ss = status -sb
	cb = checkout -b
	co = checkout
	ci = commit
	ap = add -p
	aa = add -A
	ll = log --color --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	df = diff -w
	default = ! git remote show origin | grep 'HEAD branch:' | awk '{print $3}'
	last = log -1 HEAD
	unstage = reset HEAD --
	force = push --force-with-lease --force-if-includes
	fusion = ! git add -p && git commit --amend --no-edit
	goners = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | fgrep '[gone]' | cut -d' ' -f1
	flush = ! git goners | xargs -r git branch -D
	up = ! git switch $(git default) && git fetch -p --tags && git pull && git switch -
	sync = ! git up && git rebase $(git default) && git force
	open = ! curb=$(git branch --show-current) && git push -u origin ${curb} && open "$GIT_WORK_REPO_CREATE_MR_URL=${curb}"
