format = """
$username\
$hostname\
$directory\
${custom.jj}\
$git_branch\
$git_state\
$git_status\
$line_break\
$character"""

[directory]
style = "blue"

[character]
success_symbol = "[❯](white)"
error_symbol = "[!❯](red)"
vimcmd_symbol = "[❮](green)"

# --:: JJ ::--
[custom.jj]
ignore_timeout = true
description = "The current jj status"
detect_folders = [".jj"]
symbol = ""
command = '''
jj log --revisions @ --no-graph --ignore-working-copy --color always --limit 1 --template '
  separate(" ",
    change_id.shortest(6),
    concat(
      bookmarks,
      if(conflict, "!"),
      if(divergent, "*"),
    ),
  )
'
'''

# --:: Git ::--
[git_status]
disabled = true

[custom.git_status]
when = "! jj --ignore-working-copy root"
command = "starship module git_status"
style = "" # This disables the default "(bold green)" style
description = "Only show git_status if we're not in a jj repo"

[git_commit]
disabled = true

[custom.git_commit]
when = "! jj --ignore-working-copy root"
command = "starship module git_commit"
style = ""
description = "Only show git_commit if we're not in a jj repo"

[git_metrics]
disabled = true

[custom.git_metrics]
when = "! jj --ignore-working-copy root"
command = "starship module git_metrics"
description = "Only show git_metrics if we're not in a jj repo"
style = ""

[git_branch]
disabled = true

[custom.git_branch]
when = "! jj --ignore-working-copy root"
command = "starship module git_branch"
description = "Only show git_branch if we're not in a jj repo"
style = ""

